@import 'src/styles/_breakpoints.scss';

.home {
  display: grid;
  width: 100%;
  &_layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;

    @include mq-mobile {
      display: flex;
      flex-direction: column;
    }

    &_played {
      @include mq-mobile {
        order: 1;
      }
      &_content {
        display: flex;
        flex-direction: column;
        width: 100%;

        &_detail {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-bottom: 1px solid #ccc;
          padding: 8px 0;

          h4 {
            height: 100%;
            margin: 0;
          }

          @include mq-mobile {
            display: flex;
            &_position {
              display: none;
            }
          }
        }
      }
    }
  }
  &_chart {
    position: relative;
    // min-width: 900px;
    min-height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;

    &_header {
      display: flex;
      justify-content: flex-end;
      margin-right: 16px;
      h4:first-child {
        margin-right: 8px;
      }
    }
    &_result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.8;
      display: grid;
      place-content: center;
      h2 {
        font-size: 40px;
        margin-bottom: 32px;
      }
      h3 {
        font-size: 80px;
      }
      &_timer {
        width: 100%;
        margin-top: 24px;
        h4,
        h2 {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &_buttons {
    width: 100%;
    margin: 32px 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    .mat-raised-button {
      width: 100%;
    }
  }
}

.sub-title {
  padding: 4px;
  text-align: center;
  border: 1px solid #f44336;
  color: #f44336;
}
