<div class="home">
  <h2 class="home_name">Bienvenido {{userName | uppercase}}!</h2>
  <div class="home_layout">

    <div class="home_layout_played">
      <h2 class="sub-title">ULTIMOS CRASH!</h2>
      <div class="home_layout_played_content">
        <ng-container *ngFor="let played of gamesPlayed; let i = index">
          <div class="home_layout_played_content_detail">
            <h4 class="home_layout_played_content_detail_position">{{i + 1}}</h4>
            <h4>{{played.crashIn | number: '1.1-2'}}</h4>
          </div>
          </ng-container>
      </div>
    </div>

    <div class="home_layout_chart">
      <div class="home_chart">
        <div class="home_chart_header">
          <h4>Max bet: {{isMaxBet | number: '1.2-2'}}</h4>
          <h4>Max profit: {{isMaxProfit | number: '1.2-2'}}</h4>
        </div>
        <app-chart></app-chart>
        <ng-container *ngIf="lastResult && !(gameInProgress | async)">
          <div class="home_chart_result">
            <h2>Crash!</h2>
            <h3>{{lastResult.value | number: '1.1-2'}}</h3>

            <div class="home_chart_result_timer">
              <h4>Momento para apostar!</h4>
              <h2>{{timer | async}}</h2>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="home_buttons">

        <button [disabled]="!(gameInProgress | async) || !activateBet" mat-raised-button color="warn"
          (click)="backingOut()">Retirarme</button>

      </div>
    </div>

    <div class="home_layout_bets">
      <app-bets></app-bets>
    </div>
  </div>


</div>
