.bets{
  width: 100%;
  // padding: 24px;
  .mat-form-field{
    width: 100%;
    margin-bottom: 8px;
  }
  .mat-raised-button, .mat-stroked-button {
    margin: 8px 0;
    width: 100%;
  }
  &_message_insufficientFunds{
    border: 1px solid #f44336;
    background-color: #ffdcda;
    display: grid;
    place-content: center;
    padding: 8px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    h5{
      color: #f44336;
      text-align: center;
      margin: 0px;
    }
  }
  &_history{
    margin-top: 16px;
    &_table{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
    .isWinner{
      h3{
        color: rgb(97, 138, 97);
      }
    }
    .lose{
      h3{
        color: #f44336
      }
    }
  }
}


.sub-title{
  padding: 4px;
  text-align: center;
  border: 1px solid #f44336;
  color: #f44336;
}
