
  <ngx-charts-line-chart [showXAxisLabel]="showXAxisLabel" [xAxis]="xAxis" [view]="view" [scheme]="colorScheme"
    [autoScale]="true" [legend]="legend" [rangeFillOpacity]="10" [tooltipDisabled]="true"
    [showYAxisLabel]="showYAxisLabel" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    [timeline]="timeline" [results]="data" [rotateXAxisTicks]="rotateXAxisTicks" (select)="onSelect($event)"
    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>

